* {
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
}

#logo {
  width: 200px;
  height: 200px;
}

.copy-right-sec {
  padding: 1.8rem;
  background: #cfe2ff;
  color: #000000;
  text-align: center;
}

.copy-right-sec a {
  color: #ff3434;
  font-weight: 500;
}

a {
  text-decoration: none;
}
